<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldp.androidclient">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".base_application.LdpBaseApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- Activity main -->
        <activity
            android:name=".activities.LdpActivityMain"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Activity add preferences -->
        <activity
            android:name=".activities.LdpActivityNewConnectionPreferences"
            android:label="@string/activity_connection_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="@string/activity_LdpLdpActivityMain" />
        </activity>

        <!-- Activity edit preferences -->
        <activity
            android:name=".activities.LdpActivityEditPreferences"
            android:label="@string/activity_connection_settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="@string/activity_LdpLdpActivityMain" />
        </activity>

        <!-- Activity connection type -->
        <activity
            android:name=".activities.LdpConnectionTypeActivity"
            android:excludeFromRecents="true"
            android:label="@string/activity_conection_chooser"
            android:theme="@style/ThemeConnectionDialog">
            </activity>

    </application>

</manifest>
